[Unit]
Description=CPU Utilization Client

[Service]
User=root
WorkingDirectory=/home/cpu_utilization_service
ExecStart=/home/cpu_utilization_service/env/bin/python -m client.main --URL http://localhost:8000
Restart=always

[Install]
WantedBy=multi-user.target